.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
    padding: 15px;
}

.dialog {

}

.dialog a {
    text-decoration: none;
    color: #000000;
}

.active {
    color: #0245A3;
}

.messages {
    padding: 15px;
}

.message {

}
